*

!.dockerignore
!Dockerfile
!compose.yaml
!Cargo.toml
!Cargo.lock

!.cargo
!.cargo/**

!src
!src/**

!crates
!crates/**

!examples
!examples/README.md
!examples/catalog.scm
!examples/test.scm

!examples/extensions
!examples/extensions/software-packaging
!examples/extensions/software-packaging/catalog.scm
!examples/extensions/software-packaging/desktop
!examples/extensions/software-packaging/desktop/*.scm
!examples/extensions/software-packaging/distrobox
!examples/extensions/software-packaging/distrobox/*.scm
!examples/extensions/software-packaging/ecosystems
!examples/extensions/software-packaging/ecosystems/*.scm
!examples/extensions/software-packaging/source
!examples/extensions/software-packaging/source/*.scm
!examples/extensions/software-packaging/support
!examples/extensions/software-packaging/support/*.scm

!examples/scripts
!examples/scripts/fetch-git-source.sh
!examples/sources
!examples/sources/git
!examples/sources/git/.gitkeep
